{% extends 'base.html.twig' %}

{% block title %}Hello EspectaculoController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        {{ saludo }}
        </br></br>
        Este amigable mensaje procesde de:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/webPrueba/src/Controller/EspectaculoController.php'|file_link(0) }}">src/Controller/EspectaculoController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/webPrueba/templates/espectaculo/index.html.twig'|file_link(0) }}">templates/espectaculo/index.html.twig</a></code></li>
        </ul>
    </div>

    <div>


        {{ form(formulario) }}


        </br></br>

        {% for message in app.flashes ('exito') %}
            {{ message }}

        {% endfor %}

        {% for message in app.flashes ('fallo') %}
            {{ message }}

        {% endfor %}

    </div>
{% endblock %}
